.App {
    padding: 20px;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #24292F;
    background-color: rgb(246, 246, 246);
    padding: 0;
    margin: 0;
}

@media (min-width: 200px) and (max-width: 600px) {
    .auth{
        width: 90%;
    }
}

@media (max-width: 960px) {
    .App{
        display: none;
    }
    #root::after {
        opacity: 1;
        content: "For PC only :(";
    }
}