.App {
    padding: 20px;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #212529;
    background-color: rgb(246, 246, 246);
}

@media (min-width: 200px) and (max-width: 600px) {
    .auth{
        width: 90%;

    }
}