header {
    background-color: var(--second-main-button-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}

header>div {
    display: flex;
}

header>div>a>img {
    width: 20px;
    height: 20px;
    margin: 3px 0 0 8px;
}

header>div>img {
    margin: -7% 0 0 0;
}

.under-header {
    border: 1px solid var(--outline-color);

    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 0;
    top: 72px;
    width: 100%;
    z-index: -1;
}

.popup-title {
    margin: 0 0 15px 0;
}

.deverick-label {
    color: var(--first-main-button-color);
    font-size: 24px;
}

.logout {
    cursor: pointer;
}

button {
    font-size: 16px;
}

.container-main {
    display: grid;
    width: 86%;
    gap: 50px;
    margin: auto;
    grid-template-columns: 240px 2fr;
}

aside {
    padding: 40px 0 0 0;
}

.avatar {
    width: 80%;
    margin: auto;
    background: var(--avatar-color);
    outline: 2px solid var(--outline-color);
    border-radius: 50%;
    padding-top: 40%;
    padding-bottom: 40%;

    background-image: url("../images/github-octocat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside>p {
    text-align: center;
    margin: 0;
}

.name {
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    margin-top: 10px;
}

.login {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: var(--additional-font-color);
}

aside>button {
    display: block;
    width: 80%;
    height: 32px;
    padding: 0;
    border-radius: 7px;
    background: var(--aside-button-color);
    border: 1px solid var(--aside-button-border-color);
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    margin: 20px auto 0 auto;
}

.status-bar {
    display: flex;
    padding: 25px 0 40px 0;
    justify-content: center;
}

.status-bar>div {
    width: 50%;
    text-align: center;
}

.Likes,
.Posts {
    transition: all 0.25s ease;
    cursor: pointer;
    user-select: none;
}

.status-bar>div>p.active {
    font-weight: bold;
}

.status-bar>div>p {
    font-size: 14px;
    display: inline-block;
    padding: 1px 15px;
    transition: all 1s ease;
}

.status-bar>div>p.active::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1.5px;
    top: 4px;
    left: 0;
    background-color: var(--orange);
    transform: scaleX(1.8);
    transition: transform 0.25s ease;
}

.status-bar>div>p:not([class="active"])::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1.5px;
    top: 4px;
    left: 0;
    background-color: var(--orange);
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

.status-bar>div:hover>p:not([class="active"]):after {
    transform: scaleX(2.5);
}

.status-bar>div:active>p:not([class="active"]):after {
    transform: scaleX(0.5);
}

main {
    width: 100%;
}

.post {
    min-height: 120px;
    display: grid;
    grid-template-columns: 80% 1fr;

    border-bottom: 1px solid var(--outline-color);
}

.title-heart {
    grid-column-start: 1;
    grid-column-end: 3;

    justify-content: space-between;
    display: flex;
    padding: 10px 0 8px 0;
}


.title-heart>h2,
.likepost>h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 5px;
    line-height: 26px;
}

.title-heart>h2>span {
    color: var(--additional-font-color);
    font-size: 18px;
}

.post>.text {
    font-size: 14px;
    margin: 0px 1px 13px 5px;
    white-space: pre-line;
}

.heart-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px 0 0;

}

.heart-container>span {
    font-size: 12px;
    padding: 0 5px 5px 0;
    user-select: none;
}

.heart-container>svg {
    transition: all 0.25s ease;
    user-select: none;
    cursor: pointer;
}

.heart-container>svg:hover {
    transform: scale(1.1);
}

.heart-container>svg:active {
    transform: scale(0.9);
}

.liked {
    fill: red;
}

.post>.data {
    text-align: end;
    color: var(--additional-font-color);
    font-size: 12px;
    height: 14px;
    margin: 0 0 0 0;
    align-self: last baseline;
    padding: 0 5px 13px 0px;
}

div.post:nth-child(1) {
    border-top: 1px solid var(--outline-color);
}

.popup-box {
    position: fixed;
    background: var(--popup-box-background-color);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: var(--main-bg-color);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--close-icon-border-color);
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(30% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: var(--close-icon-background-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid var(--close-icon-border-color);
    font-size: 20px;
}

textarea {
    display: block;
    height: 300px;
    font-family: 'Rubik', sans-serif;
    color: var(--main-font-color);
    resize: none;
}

.likesstat>h2 {
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.data-label,
.react-datepicker__input-container>input {
    font-size: 14px;
}

.data-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    box-sizing: border-box;
}

.likepost>h2 {
    padding: 7px 0 5px 0;
}

.likepost {
    min-height: 90px;
}

.likepost:first-child {
    margin: 15px 0 0 0;
}

.react-datepicker__day--selected {
    background-color: var(--orange) !important;
}

.react-datepicker__navigation {
    top: -8px !important;
}

.react-datepicker-ignore-onclickoutside {
    caret-color: var(--main-bg-color) !important;
}




.mob>.main-page>header {
    height: 60px;
}

.mob>.main-page>.under-header {
    top: 52px;
}

.mob>.main-page>.container-main {
    display: block;
    width: 90%;
}

.mob>.main-page>.container-main>aside {
    padding: 20px 0 0 0;
}

.mob>.main-page>.container-main>aside>.avatar {
    width: 50%;
    padding-top: 25%;
    padding-bottom: 25%;
}

.mob>.main-page>.container-main>aside>.name {
    font-size: 22px;
    margin: 0;
}

.mob>.main-page>.container-main>aside>.login {
    font-size: 14px;
    margin-top: -10px;
}

.mob>.main-page>.container-main>aside>.create-post,
.mob>.main-page>.container-main>aside>.my-activity {
    font-size: 14px;
}

.mob>.main-page>.container-main>aside>aside>button {
    margin-top: 10px;
}

.mob>.main-page>.container-main>main>.status-bar {
    padding: 10px 0 5px 0;
}

.mob>.main-page>.container-main>main>div>.post {
    display: block;
    min-height: 0;
}

.mob>.main-page>.container-main>main>div>.post>.title-heart {
    justify-content: space-between;
    display: flex;
}

.mob>.main-page>.container-main>main>div>.post>.title-heart>.heart-container {
    align-items: center;
}

.mob>.main-page>.container-main>main>div>.post>.title-heart>h2 {
    font-size: 18px;
}

.mob>.main-page>.container-main>main>div>.post>.title-heart>h2>span {
    font-size: 16px;
}

.mob>.main-page>.container-main>main>div>.post>.title-heart>.heart-container>span {
    font-size: 10px;
}

.mob>.main-page>.container-main>main>div>.post>.text {
    font-size: 12px;
}

.mob>.main-page>.container-main>main>div>.post>.data {
    font-size: 12px;
}

.mob>.main-page>.container-main>main>.likesstat {
    border-top: 1px solid var(--outline-color);
    padding: 10px 0 0 0;
}

#root>div>div>div>div.popup-box>div>div>h1,
#root>div>div>div>div.popup-box>div>div>h1 {
    font-size: 18px;
}

.mob>.main-page>.container-main>main>.likesstat>.data-input-container {
    display: block;
}

.mob>.main-page>.container-main>main>.likesstat>.data-input-container>div:nth-child(1)>.react-datepicker-wrapper>div>input {
    margin: 3px 0 10px 0;
}

.mob>.main-page>.container-main>main>.likesstat>.main-buttons-container {
    margin-top: -10px;
}

#root>div>div>div>div.popup-box>div>div>div>button,
#root>div>div>div>div>main>div.likesstat>div.main-buttons-container>button {
    font-size: 14px;
}

#root>div>div>div>div>main>div.likesstat>div:nth-child(4)>label {
    font-size: 14px;
}

#root>div>div>div>div>main>div.likesstat>div:nth-child(4)>div>div>h2 {
    font-size: 18px;
}

#root>div>div>div>div>main>div.likesstat>div:nth-child(4)>div>div>p.text {
    font-size: 12px;
}

.mob>div>.popup-box>.box {
    width: 80%;
}

.mob>div>.popup-box>.box>.close-icon {
    right: calc(10% - 30px);
}

.mob>div>.popup-box>.box>div>h1.popup-title {
    margin: 0 0 10px 0;
}

.mob>div>.popup-box>.box>div>label {
    font-size: 14px;
}

.mob>.main-page>header>div>.deverick-label {
    font-size: 18px;
}

.mob>.main-page>header>.logout {
    width: 25px;
}